@use "variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    font-family: "Inter";
    user-select: none;
}

html, body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.bottom-button {
    position: fixed;
    bottom: 16px;
    left: 16px;
    right: 16px;
}