.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 8px;

    .btn {
        color: inherit;
        text-decoration: none;

        & button {
            width: 100%;
        }
    }
}
.logo {
    color: var(--color-text-secondary);
    margin: 0 auto;
    font-weight: bold;
}