.page {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0 auto;
    padding: 16px;
    gap: 8px;

    .link-button {
        text-decoration: none;
        color: var(--color-btn-text);

        button {
            width: 100%;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 8px;

        header{
            .title {
                font-weight: bold;
                font-size: 1.1rem;
            }
        }

        .subtitle {
            font-size: 0.9rem;
            color: var(--color-text-secondary);
        }
        
        .container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-radius: 8px;
            background-color: var(--color-bg-secondary);
        }
    }
}