:root {
    color-scheme: dark;
    --color-bg: #1F1F1F;
    --color-bg-secondary: #262526;

    --color-title: #FFFFFF;
    --color-text: #F0F0F0;
    --color-text-secondary: #B0B0B0;
    --color-hint: #999999;

    --color-btn: #2A9D8F;
    --color-btn-border: #23867A;
    --color-btn-text: #FFFFFF;
    --color-btn-secondary: #208276;
    --color-btn-disabled: #3E3E3E;
    --color-btn-disabled-border: #4E4E4E;
    --color-btn-disabled-text: #606060;

    --color-border: #4E4E4E;

    --color-success: #2ECC71;
    --color-warn: #E9C46A;
    --color-error: #E74C3C;

    --color-accent: #2A9D8F;

    --color-ripple: rgba(98, 98, 98, 0.5);
}